{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Iniciar Sesión</legend>
            {{ form|crispy }}
        </fieldset>

        <button class="btn btn-success w-100 mt-3" type="submit">Entrar</button>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            ¿No tenés cuenta?
            <a href="{% url 'registro' %}">Registrarte</a>
        </small>
    </div>
</div>
{% endblock %}
